/*
    Filename: visualization.css
    Author: Glenn Abastillas
    Date: February 26, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com/visualization
*/

html, body
{
    background: none;

    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    color: #333;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

select
{
    width: 40%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /*flex: 1 0 20px;*/
    /*border: solid 1px black;*/
    /*height: 2em;*/
    /*margin: auto;*/
    /* height: 100%; */
    border-radius: 1em;
}


form
{
    /*background: blue;*/
    border: none;
    width: 100%;
}

fieldset
{
    width: auto;
    border: none;
    border-right: 1px solid #cdc;
    margin: 0 auto;
    justify-content: center;
}

fieldset#axes
{
    flex: 0 1 300px;
}

fieldset#visual
{
    border-right: none;
}

legend
{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    color: #555;
}

label
{
    font-size: 0.75em;
}

input[type=text]
{
    width: 100%;
}

input[type=text]:focus
{
    background: #dfefff;
}

input[type=file]
{
    /* border: solid 2px red; */
    font-family: 'Helvetica', sans-serif;
    height: 2em;
    margin: auto 0;
    color: red;
}

input[type=color]
{
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: none;
    margin-right: 1em;
}

svg#plot
{
    width: 100%;
    background: #fafafa;
}

svg rect
{
    border-radius: 1em;
}

.frame
{
    /* border: solid 1px black; */
    /* background: green; */

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.menu
{
    height: 3em;
    /*border-bottom: solid 1px gray;*/
}

.data-controls
{
    border-right: solid 1px #cdc;
    /*margin-left: 1em;*/
    width: 40%;
}

.visualization-controls
{
    /* margin-left: 1em; */
    border: 1px solid black;
}

.input-invisible
{
    font-size: 2em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #333;
    /*font-weight: 800;*/
    text-align: center;
    vertical-align: middle;
    border: none;
}

.pulldown
{
    position: absolute;
    width:  6em;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background: white;
    /* padding: 1em; */
    /* box-sizing: border; */
    height: auto;
    top:  3.75em;
}

.pulldown-menu-item
{
    background: red;
    width: 100%;
    font-size: 1em;
    height: 100%;
}

.pulldown-menu-item:hover
{
    color: white;
    cursor: pointer;
}

.settings-plot
{
    position: relative;
    /*background: red;*/
    /*top: -1;*/
    margin: 0;
    padding: 0;
    /*border:  solid 1px black;*/
}

#master-frame
{
    flex-direction: column;
}

#navigation-bar
{
    overflow: hidden;
    padding-bottom: 1em;
}

#menu-file
{
    width: 20%;
    border-right: solid 1px #cdc;
}

#menu-icon
{
    width: 3em;
}

#menu-logo
{
    font-size: 2em;
    /* line-height: 3em; */
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    /* background: red; */
    padding: 0.25em 0;
    display:  block;
    user-select: none;
    font-weight: 200;
}

#menu-icon svg
{
    /* background: yellow; */
    display: block;
    margin: 0;
    top: 20%;
    left: 20%;
    /* width: 60%; */
    height: auto;
}

#menu-icon svg:hover
{
    background: #dfefff; 
    cursor: pointer;
}

#menu-icon svg:hover rect
{
    fill: #666;
    cursor: pointer;
}

#settings-basic
{
    border: none;
}

#settings-plot-line
{
    top: 3em;
}

#settings-plot-bar
{
    top: 6em;
}

#settings-plot-histogram
{
    top: 9em;
}

#visualization-area
{
    /* background: yellow; */
}