/*
    Filename: visualization.css
    Author: Glenn Abastillas
    Date: February 26, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com/visualization
*/

html, body
{
    background: none;

    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    color: #333;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

select
{
    width: 50%;
    border: solid 1px black;
    height: 2em;
    margin: auto 0;
    /* height: 100%; */
}

input[type=file]
{
    /* border: solid 2px red; */
    font-family: 'Helvetica', sans-serif;
    height: 2em;
    margin: auto 0;
}

.frame
{
    /* border: solid 1px black; */
    /* background: green; */

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.menu
{
    /* background: blue; */
    height: 3em;
    padding-bottom: 1em;
    border-bottom: solid 1px gray;
}

.pulldown
{
    position: absolute;
    width:  6em;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background: white;
    /* padding: 1em; */
    /* box-sizing: border; */
    top:  3.75em;
}

.pulldown-menu-item
{
    background: red;
    width: 100%;
    font-size: 1em;
}

.pulldown-menu-item:hover
{
    color: white;
    cursor: pointer;
}

#master-frame
{
    flex-direction: column;
}

#navigation-bar
{
    /* height: 3em; */
    /* background: red; */
    overflow: hidden;
}

#menu-file
{
    width: 20%;
}

#menu-icon
{
    width: 3em;
}

#menu-logo
{
    font-size: 2em;
    /* line-height: 3em; */
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    /* background: red; */
    display:  block;
    user-select: none;
    font-weight: 800;
}

#menu-icon svg
{
    /* background: yellow; */
    display: block;
    margin: 0;
    top: 20%;
    left: 20%;
    /* width: 60%; */
    height: 60%;
}

#menu-icon svg:hover
{
    /* background: white; */
    cursor: pointer;
}

#menu-icon svg:hover rect
{
    fill: red;
    cursor: pointer;
}

#settings-basic
{
}

#visualization-area
{
    /* background: yellow; */
}