/*
    Filename: index.css
    Author: Glenn Abastillas
    Date: February 18, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com
*/


html, head, body
{
    background: #efefef;

    font-family: Helvetica, Arial, sans-serif;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    height: 100%;
    width: 100%;
}

svg
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

h2
{
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 3em;
    font-weight: 100;
    margin-top: 0;
}

h3
{
    margin-bottom: 0;
}

ul
{
    margin-top: 1em;
}

/* * * * * * * * * * * * * */
/*  General   Definitions  */
/* * * * * * * * * * * * * */

.page
{
    height: auto;
    padding:  0;
    margin:  0;
    border-top: solid 1px #777;
}

.page h2 a
{
    font-size: 0.25em;
    text-decoration: none;
    font-weight: 100;
    color: #888;
}

.page h2 a:hover
{
    color: #111;
    transition: all 1s ease;
    position: relative;
}

.section
{
    /* width: 75%; */
    margin: auto;
    padding: 1em 20%;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;

}

.skill
{
    background: #fafafa;
    border: solid 1px #aaa;
    border-radius: 1em;
    margin: 0.25em;
    display: block;
    padding: 0.75em;
    /* text-align: center; */
    width: 15%;
}

.skill-name
{
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 800;
}

.skill-items
{
    font-size: 0.75em;
    width: auto;
    /* text-align: left; */
    margin-left: 1.25em;
    list-style-type: none;
}

#landing-page-title
{
    display: block;
    font-size: 5em;
    font-weight: 800;
    margin: 0;
    text-anchor: middle;
    z-index: 10;
}

#landing-page-title text:hover
{
    fill: blue;
}

#landing-page
{
    height: 100%;
}

#content
{
    /* background: cornflowerblue; */
}

#header
{
    display: block;
    /* background: red; */
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    /* min-height: 5em; */
    /* min-width: 60%; */
    user-select: none;
    -webkit-user-select:  none;
    cursor: pointer;
}

#header h1
{
    font-size: 3em;
    filter:  blur(0.0001rem);
    cursor:  default;
    background: #efefef;
    /* border-radius: 1em; */
}

#header a
{
    padding:  1em;
    background: #efefef;
    opacity: 0.3;
    transition: 0.5s all ease;
    text-decoration: none;
}

#header a:hover
{
    background: white;
    border-radius: 1em;
    color: #7f73ff;
    /* text-decoration: underline; */
    opacity: 1;
    transition: 0.15s all ease;
}

#header a:visited
{
    color: black;
    text-decoration: none;
}

#header-screen
{
    background: blue;
}

#background
{
    min-height: 100vh;
}

#background span
{
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 2em;
}

#all-skills
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
    /* text-align: center; */
}

#experience
{
    font-weight: 100;
    /* border-left:  solid 3em rgba(0.9375, 0.875, 1, 0.25); */
}

#experience span
{
    color: #777;
    font-weight: 100;
    margin-bottom: 1em;
}

#education span
{
    font-size: 1.5em;
}

#education li
{
    list-style-type: none;
    margin-top: 0;
}

#publications
{
}

#contacts
{
    color: #fff;
    background: #333;
}