/*
    Filename: index.css
    Author: Glenn Abastillas
    Date: February 18, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com
*/


html, head, body
{
    background: #efefef;

    font-family: Helvetica, Arial, sans-serif;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    height: 100%;
    width: 100%;
}

svg
{
    height: 100%;
    width: 100%;
}

h2
{
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 3em;
    font-weight: 100;
    margin-top: 0;
}

h3
{
    margin-bottom: 0;
}

ul
{
    margin-top: 1em;
}

/* * * * * * * * * * * * * */
/*  General   Definitions  */
/* * * * * * * * * * * * * */

.page
{
    height: auto;
    padding:  0;
    margin:  0;
    height:  auto;
}

.page h2 a
{
    font-size: 0.25em;
    text-decoration: none;
    font-weight: 100;
    color: #888;
}

.page h2 a:hover
{
    color: #111;
    transition: all 1s ease;
    position: relative;
}

.section
{
    /* width: 75%; */
    margin: auto;
    padding: 1em 20%;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;

}

#background span
{
    font-size: 2em;
    font-weight: 100;
}

#experience
{
    font-weight: 100;
}

#experience span
{
    color: #777;
    font-weight: 100;
    margin-bottom: 1em;
}

#education span
{
    font-size: 1.5em;
}

#education li
{
    list-style-type: none;
    margin-top: 0;
}

#publications
{
}

#contacts
{
    color: #fff;
    background: #333;
}