/*
    Filename: index.css
    Author: Glenn Abastillas
    Date: February 18, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com
*/


html, head, body
{
    background: #efefef;

    font-family: Helvetica, Arial, sans-serif;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    height: 100%;
    width: 100%;
}

#p1{}

#content
{
    box-shadow: -0.5em -0.5em 0.5em 0.01em #fff,
                 0.5em 0.5em 0.5em 0.01em #ddd;
    border-radius: 1em;

    background: #f1f1f1;

    display: block;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-75%);

    text-align: center;

    height: 50%;
    width: 50%;
}

#navigation
{
    position: fixed;
    top: 10%;
    right: 5%;
    width: 7em;
    visibility: hidden;
}

#navigation ul
{
    background: none;
    list-style: none;
    width: 100%;
}

#navigation li
{
    background: #454545;
    cursor: pointer;

    text-align: center;
    vertical-align: middle;

    height: 3em;
    line-height: 3em;
}

#navigation li:hover
{
    background: blue;
}

#navigation li:active
{
    background: red;
}

#visual
{
    display: block;

    height: 50%;
    width: 100%;
}


#p2, #p4, #p6
{
    background: #eaeaea;
}

#p2 h2, #p4 h2, #p6 h2,
#p3 h2, #p5 h2, #p7 h2
{
    font-size: 3em;
}

#p3, #p5, #p7
{
    background: #fff;
}

/* Page 2 and Resume Section
 * 
 * 
 */

.page
{
    padding: 0;
    margin: 0;
    height: 95%;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.page-extended
{
    height:  190%;
}

.remote
{
    display: block;
    width: 5em;
    height: 10em;
    position: absolute;
    background: red;
    visibility: hidden;
}

.resume
{
    font-family: "Helvetica", "Arial", "Bell MT", serif;
    font-weight: 200;
    margin: 0 auto;
    padding: 0;

    text-align: left;
    position: relative;

    width: 45%;
    height: 100%;

    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.resume h2 span
{
    font-size: 0.25em;
}

.resume h2 a
{
    text-decoration: none;
    font-weight: 100;
    color: #888;
}

.resume h2 a:hover
{
    color: #111;
    transition: all 1s ease;
    position: relative;
}

#p2 .resume span
{
    font-size: 1.5em;
    font-family: "Helvetica", "Arial", sans-serif;

    text-align: left;

    width: 100%;
}

#p2 .resume h2 span
{
    font-size: 0.25em;
    font-weight: 100;
    color:  #9a9a9a;
}

#p2 table#skills
{
    /*display: block;*/
    border: 1px solid black;
    margin: auto;
    font-family: "Arial", sans-serif;
    width: 75%;
    /* height: 80%; */
}

#p2 td
{
    border:  1px solid black;
    width: 5em;
}

#p2 td.header
{
    font-weight: 600;
    height: 1em;
}

#p2 td.content
{
    font-weight: 200;
    vertical-align: top;
}

/* Page 3 — Resume */

#p3
{
    height:  auto;
    padding-bottom: auto;
    position: relative;
}

#p3 .resume
{
    font-size: 1em;
    font-weight: 200;
}

#p3 .resume h2
{
}

#p3 .resume h3 span
{
    font-weight: 100;
    color:  #9a9a9a;
}

#p3 .resume li:hover
{
    font-weight: 400;
    transition: all 1s;
}

/* Page 4 — Resume */

#p4
{
    height: auto;
    padding-bottom: 1em;
}

#p4 .resume
{
    font-weight: 100;
}

#p4 .resume h2 span
{
    font-size: 0.25em;
}

/* Page 7 - Resume */

#p7
{
    height: auto;
}