/*
    Filename: index.css
    Author: Glenn Abastillas
    Date: February 18, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com
*/


html, head, body
{
    background: #efefef;

    font-family: Helvetica, Arial, sans-serif;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    height: 100%;
    width: 100%;
}

.page
{
    padding: 0;
    margin: 0;
    height: 95%;
    overflow: hidden;
    text-align: center;
}

.resume
{
    font-family: "Garamond", "Bell MT", serif;
    font-weight: 200;
    margin: 0 auto;
    padding: 0;

    text-align: left;

    width: 80%;
    height: 100%;

    /*background: white;*/
    user-select: none;
}

#p1{}

#content
{
    box-shadow: -0.5em -0.5em 1em 0.1em #fff,
                 0.5em 0.5em 1em 0.1em #ddd;
    border-radius: 1em;

    background: #f1f1f1;

    display: block;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-75%);

    text-align: center;

    height: 50%;
    width: 50%;
}

#navigation
{
    position: fixed;
    top: 10%;
    right: 5%;

    width: 7em;

    visibility: hidden;
}

#navigation ul
{
    background: none;
    list-style: none;
    width: 100%;
}

#navigation li
{
    background: #454545;
    cursor: pointer;

    text-align: center;
    vertical-align: middle;

    height: 3em;
    line-height: 3em;
}

#navigation li:hover
{
    background: blue;
}

#navigation li:active
{
    background: red;
}

#visual
{
    display: block;

    height: 50%;
    width: 100%;
}


#p2, #p4, #p6
{
    background: #eaeaea;
}

#p2 h2, #p4 h2, #p6 h2,
#p3 h2, #p5 h2, #p7 h2
{
    font-size: 3em;
}

#p3, #p5, #p7
{
    background: #fff;
}

#p2 span#background
{
    font-size: 1.5em;
    font-family: "Helvetica", "Arial", sans-serif;
}

#p2 #skills
{
    /*display: block;*/
    /*padding-top: 1em;*/
    padding: 0;
    margin: auto;
    font-family: "Arial", sans-serif;
    width: 90%;
    height: 10%;
}

#p2 td
{
    /*width: 7em;*/
    font-weight: 200;
    /*vertical-align: middle;*/
    background: red;
}

#p2 th
{
    font-weight: 600;
    height: 1em;
    /*width: 5em;*/
    background: blue;
}

.p3
{
    background: blue;
    height: 1em;
}