/*
    Filename: index.css
    Author: Glenn Abastillas
    Date: February 18, 2020

    CSS definitions for the base style across all pages in the domain
    www.glennabastillas.com
*/


html, head, body
{
    background: #efefef;

    font-family: Helvetica, Arial, sans-serif;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    height: 100%;
    width: 100%;
}

/* * * * * * * * * * * * * */
/*  General   Definitions  */
/* * * * * * * * * * * * * */

.page
{
    height: auto;
    padding:  0;
    margin:  0;
    height:  auto;
}

.page h2
{
    font-family:  "Garamond", "Bell MT", sans-serif;
    font-size: 3em;
    font-weight: 200;
}

.page h2 span
{
    font-size: 0.25em;
}

.page h2 a
{
    text-decoration: none;
    font-weight: 100;
    color: #888;
}

.page h2 a:hover
{
    color: #111;
    transition: all 1s ease;
    position: relative;
}

#resume
{
    background: #fff;
}

.resume
{
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 200;
    margin: 0 auto;
    padding: 0;

    text-align: left;

    width: 60%;
    height: 100%;

    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.resume li
{
    color: #555;
}

.resume li:hover
{
    color: #000;
    font-weight: 400;
}

.resume h2 span
{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 0.3em;
    font-weight: 100;
    color:  #9a9a9a;
}

.remote
{
    display: block;
    width: 5em;
    height: 10em;
    position: fixed;
    background: red;
    visibility: hidden;
}

/* * * * * * * * * * * * */
/* Page 1 - Landing Page */
/* * * * * * * * * * * * */

#p1
{
    background: #efefef;
    height: 90%;
    text-align: center;
    text-shadow: 0.2em  0.2em 0.05em #fff,
                -0.2em -0.2em 0.05em #ddd;
}

#p1 .icon
{
    /* border-radius: 5em; */
    width: 3em;
    height: 3em;
    /* background: red; */
    padding-right:  1em;
    object-fit: cover;
    filter:  saturate(0%) opacity(50%);
}

#p1 .icon:hover
{
    filter:  opacity(100%);
    transition: 1s;
}

#p1 h1
{
    display: block;
/*     top:  50%;
    transform:  translateY(-50%); */
    position:  relative;
    font-size:  5em;
    color:  #333;
    user-select: none;
    -webkit-user-select:  none;
}


#content
{
/*     box-shadow: -0.5em -0.5em 0.5em 0.01em #fff,
                 0.5em 0.5em 0.5em 0.01em #ddd; */
    border-radius: 1em;

    /* background: #f1f1f1; */

    display: block;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    height: 50%;
    width: 50%;
}

#navigation
{
    position: fixed;
    top: 10%;
    right: 5%;
    width: 7em;
    visibility: hidden;
}

#navigation ul
{
    background: none;
    list-style: none;
    width: 100%;
}

#navigation li
{
    background: #454545;
    cursor: pointer;

    text-align: center;
    vertical-align: middle;

    height: 3em;
    line-height: 3em;
}

#navigation li:hover
{
    background: blue;
}

#navigation li:active
{
    background: red;
}

#visual
{
    display: block;

    height: 50%;
    width: 100%;
}

/* * * * * * * * * * * * */
/*  Page 2 - Background  */
/* * * * * * * * * * * * */

#p2
{
    background: #fff;
}


#p2 span#background
{
    font-size: 1.5em;
    font-family: "Helvetica", "Arial", sans-serif;

    text-align: left;

    width: 100%;
}

#p2 table
{
    /*display: block;*/
    border: 1px solid black;
    padding-top: 1em;
    margin: auto;
    font-family: "Arial", sans-serif;
    width: 75%;
    /* height: 80%; */
}

#p2 td
{
    border:  1px solid black;
    width: 5em;
}

#p2 td.header
{
    font-weight: 600;
    height: 1em;
}

#p2 td.content
{
    font-weight: 200;
    vertical-align: top;
}


/* * * * * * * * * * * * */
/*  Page 3 - Experience  */
/* * * * * * * * * * * * */

#p3
{
    background: #eee;
}

#p3 h3 span
{
    font-weight: 100;
    color:  #9a9a9a;
}

/* * * * * * * * * * * * * */
/*  Page 4 - Publications  */
/* * * * * * * * * * * * * */

#p4 .resume
{
    font-weight: 100;
}

#p4 li
{
    color: #555;
    padding-bottom: 1em;
}

#p4 .publication-title
{
    color: #000;
    font-weight: 400;
}

/* Page 5 - Education
 *
 *
 */

#p5 li
{
    font-size: 1.25em;
    list-style-type: none;
    font-weight: 100;
    color: #aaa;
}

#p5 .university-name
{
    font-weight: 600;
    color: #000;
}

/* Page 7 - Resume */